<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %x - %m\n" />
		</layout>
	</appender>

    <appender name="rolling" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="cats-ui-rolling.log" />
        <param name="DatePattern" value="yyyy-MM-dd-HH" />
        <param name="MaxFileSize" value="2MB" />
        <param name="MaxBackupIndex" value="14" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        </layout>
    </appender>

	<root>
		<level value="info" />
		<appender-ref ref="stdout" />
	 	<appender-ref ref="rolling" />
	</root>

</log4j:configuration>

